@{
    ViewBag.Title = "About Allison";

   

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> 
    
    
    Allison Kiefer is a Senior triple majoring in Management Information Systems, Analytics, and Management. She is also working towards completing a certificate in HR and the
    Certifed Associate in Progect Management. After graduating in May 2021, Allison will be starting her career at JP Morgan Chase as a full-time analyst in the Corporate Analyst
    Development Program. 
    
    Outside of her professional interests, Allison enjoys spending time outdoors, traveling to new places and spending quality time with her family. Allison is known for her determined, 
    ambitious leadership skills and her drive to improve each day. Within the next five years, Allison plans to move to the Rocky Mountains and pursue work in Denver, Colorado. </p>


