@{
    ViewBag.Title = "Contact Me: Allison B. Kiefer";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<Location>
    Allison B. Kiefer<br />
   Copeland 012 <br />
    <abbr title ="(567) 215-7318">P:(567)215-7318</abbr>
    
</Location>

<Email Address>
    <strong>Email:</strong>   <a href="ak841515@ohio.edu"> ak841515@ohio.edu </a><br />
   
</Emailaddress>