@{
    ViewBag.Title = "Home Page: All About Allison";
}

<div class="jumbotron">
    <h1>Allison B. Kiefer</h1>
    <p class="lead">Inside look on Allison's education, career and interests.</p>
    <p><a href="https://linkedin.com/in/allisonbkiefer" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Education</h2>
        <p>
            Allison started her college career in the fall of 2016 majoring in Biological Sciences. After a year into the program, she did not see much room for growth in biology 
            and decided to make a change.She took the leap and transferred into the College of Business and majored in Management and Strategic Leadership. She decided to try something new
            outside of management, and took MIS 2800. She loved the challenge and learning behind this course, and later decided to add MIS as another major. Shortly after, she discoverd 
            the importance of analytics in the workplace and added this as a co-major. 
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu" classbusiness="btn btn-primary btn-sm">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Career</h2>
        <p>
            After studying abroad in Thessaloniki, Greece, Allison had the opportunity to shadow at JP Morgan Chase. This was a fantastic opportunity to learn, network and explore potential
            career options. After receiving multiple internship offers for summer 2020, Allison decided to intern with JP Morgan Chase as a Corporate Analyst Development Program Intern. After
            completing the highly competitive internship and receiving high remarks from all managers, Allison received a full-time offer after graduation.
        </p>
        <p><a class="btn btn-default" href="https://careers.jpmorgan.com/us/en/students/programs/cadp-fulltime-analyst" classbusinesss="btn btn-primary btn-sm">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Interests</h2>
        <p>Outside of academic studies and her two jobs, Allison can be found enjoying the outdoors. She grew up on a small horse farm (they currently have four horses), in a small town in Ohio
        called Loudonville. Loudonville is known as the "Canoe Capital of Ohio." Allison enjoys many outdoor activities such as skiing, trail running, birding and playing competitive volleyball.
        To her family, she is known as the free spirited, determined business woman with dreams of living out west in the Rocky Mountains. She spent many summers boating on Lake Erie. She has
        worked/lived on four of the Lake Erie Islands (South Bass, Middle Bass, Gibralter, and Pelee Island) Of all of the Lake Erie islands, Pelee Island is her favorite place to be. This Canadian
        island is known for its quiet and peaceful culture.</p>
        <p><a class="btn btn-default" href="https://pelee.org">Learn more &raquo;</a></p>
    </div>
</div>